extends layout

block content
  div
    label(for="id") ID
    input(type="text" id="id")
  div(style="margin-top: 30px;")
    button(type="button" onclick="startBot()") Start Bot!


  script(type='text/javascript' src='/javascripts/common.js')
